body {
  width: 850px;
  margin: 0 auto;
}

.top {
  width: 850px;
  height: 450px;
  display: inline-flex;
  background-color: green;
  background-image: url("https://www.pbs.org/wgbh/nova/media/original_images/JWST_hero.jpg");
  background-size: cover;
  align-items: stretch;
  justify-content: center;
  /* align-content: end; */
  /* align-content: center; */
  text-align: center;
  flex-direction: column;
}

.top > div {
  /* display: inline-block; */
  /* background-color: red; */
  text-align: center;
}

.bottom {
  width: 850px;
  height: 324px;
  display: inline-block;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
}

.flex-box {
  font-family: Sans-serif;
  font-weight: lighter;
  width: 270px;
  margin-left: 20px;
}

.flex-box > h3 {
  font-family: Sans-serif;
}

.flex-box > p {
  margin: 2pt auto;
  /* text-align: center; */
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  font-weight: bold;
}

input[type="submit"] {
  color: white;
  background-color: rgb(89, 89, 89);
  border: 0;
  height: 20pt;
  width: 50pt;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}
